<h1>CMS статей</h1>
<ul>
  <% @articles.each do |article| %>
    <div class="news">
      <a class="news_title" href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
      <div>
        <a href="/user/id/<%= article.author_id %>" class="author"> Автор <%= article.author.name%> </a>
        <a><%= article.updated_at.in_time_zone('Moscow').strftime('%a %b %e %T %Y')%></a>
      </div>
    </div>
  <% end %>
</ul>
<h3 class="pagination"> <%= paginate @articles %> </h3>