<h1>Новая статья<h1>

<form action="<%= article_create_path %>" method="GET" class="forma">

<%= csrf_meta_tags %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<input type="string" name="article[title]" placeholder="Заголовок" class="form_element" required>
<textarea name="article[text]" placeholder="Содержание" id="name" class="form_element"  rows="20" required></textarea>
<input type="string" name="article[author_id]" value="<%= current_user.id %>" hidden>
<a class="form_element"> Автор <%= current_user.name %> </a>
<input type="submit" value="Подтвердить создание" id="create_butt">

</form>

<h3 class="error" id="error"> <%= flash[:new_article_error] %> <h3>