<h1> <%= @article.title%> </h1>
<a class="show_news_text"><%= @article.text%></a>
<br>
<a href="/user/id/<%= @article.author_id %>" class="author"> Автор <%= @article.author.name%> </a>
<br>
 <% if current_user != nil %>  
    <% if current_user.role == "admin" || current_user.role == "editor" %>  
        <a class="delete_button" href=<%= article_delete_path%>> Удалить эту статью </a>
        <br>
        <a class="edit_button" href=<%= article_edit_path%>> Изменить эту статью </a>
    <% end %>
<% end %>