<h1>Все юзеры</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <a class="tea_text" href="/user/id/<%= user.id %>">
        <%= user.login %>
      </a>
        <p style="color: green;">
          <%= user.name%> 
        </p>
        <p style="color: green;">
          <%= user.role.role%> 
        </p>
    </li>
  <% end %>
</ul>
<h3 class="pagination"> <%= paginate @users %> </h3>