<% if @user.id == current_user[:id]%>
    <h1> Добро пожаловать, <%= @user.name %> 
        <%= if @user.lastname.present? 
            @user.lastname 
        end%>
    </h1>
    
    <h1> Логин, <%= @user.login %></h1>
    <h1> Роль, <%= @user.role.role %></h1>
<% else %>
    <h1> Имя пользователя, <%= @user.name %></h1>
    <h1> Логин, <%= @user.login %></h1>
    <h1> Роль, <%= @user.role.role %></h1>
<% end%>

<a class="" href=<%= user_edit_path(@user.id) %> >Изменить данные пользователя</a>
<!--  <a class="" href=<%= user_delete_path(@user.id) %> >Удалить аккаунт</a> -->