<!DOCTYPE html>
<html>
  <head>
    <title>Новости</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <div class="site_header">
    <a class="site_header_button" href=<%= main_page_path %>>На главную страницу</a>
    <% if current_user.present? %>  
      <a class="site_header_button" href=<%= user_path(current_user.id) %>>Профиль</a>
      <a class="site_header_button" href=<%= user_log_out_path %>>Выйти из аккаунта</a>
      <% if current_user.role == "admin" || current_user.role == "editor" %>  
        <a class="site_header_button" href=<%= article_new_path %>>Новая статья</a>
      <% end %>
    <% else %>  
      <a class="site_header_button" href=<%= user_login_path %>>Авторизация</a>
      <a class="site_header_button" href=<%= user_new_path %>>Регистрация</a>
    <% end %>

  </div>
  <style>
    .site_header_button{
      margin: 0px  20px;
      padding: 6px;
      border: solid black;
      text-decoration: none;
      color: black;
      height: 100px;
    }
    .site_header{
       margin: 30px 0px;
    }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
